html, body{
  width: 100%;
  height: 100%;
  color: white;
}

a {
  color: black;
  &:link{
    color: none;
  }
  &:visited{
    color: none;
  }
  &:hover{
    color: none;
  }
}

section{
  padding:5rem 0 8rem 0;
}
/*Main panel with nam & last name*/
.welcome{
  padding: 120px 0 140px 0;
  background-color: rgba(37, 89, 174, .7);
  background-blend-mode: soft-light;;
  background-image: url('../img/code.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: right;
  text-shadow: 5px 0px 20px black;
  h1{
    font-weight: 700;
    position: relative;
    z-index:2
  }
  p{
    position: relative;
    z-index: 2;
  }
  .jr{
    color: orange;
  }
}

hr{
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(116, 116, 116, 0), rgba(116, 116, 116, 0.75), rgba(116, 116, 116, 0));
}
/* 'About me' section*/
.about{
  position: relative;
  box-shadow: 0px 20px 30px rgba(0, 0, 0,0.5);
  text-align: right;
  margin:auto;
  background-color: white;
  background-size: cover;
  z-index:2;
  h2{
    color: black;
  }
  .lineOne{
    background-image: linear-gradient(to right, rgba(116, 116, 116, 0), rgba(116, 116, 116, 0.75), rgba(116, 116, 116, 0.75));
  }
}

.description{
  height:auto;
  background-image: url('../img/open_computer33.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 140px;
  overflow: hidden;
  text-shadow: 5px 0px 5px white;
  a{
    color: #329e86;
    &:hover{
      cursor: pointer;
      border-bottom: 2px solid #329e86;
    }
  }
  p{
    line-height: 2.25;
    color: $ggrey;
    float: right;
  }
}

.logos{
  position: relative;
  text-align: center;
  h4{
    padding-bottom: 40px;
    color: black;
  }
  .logo{
    margin:0 20px 20px 20px;
    max-width:90px;
    max-height:90px;
  }
}

//Pause between "About me" & "Portfolio"
.pause{
  background-blend-mode: color-dodge;
  background: url('../img/oczy2.png') center bottom no-repeat, url('../img/pause2.png') center top no-repeat;
  background-size: auto, contain;
  background-color: #2559ae;
  width: 100%;
  height: 300px;
}

/*Portfolio styled in the flex.scss */

//Contact section
.contact{
  position: relative;
  background-blend-mode: soft-light;
  background-image: url('../img/broda.jpg');
  background-color: rgba(53, 128, 250, 1);
  background-attachment: fixed;
  background-size: cover;
  color:white;
  overflow: hidden;
  hr {
    border : 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  }
  .loader{
    display: none;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background-color: orange;
  }
  .info{
    padding: 20px 40px 20px 40px;
    display: none;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    height: auto;
    ul{
      list-style-type: none;
    }
  }
  .ok{
    border: 2px solid #1D6E09;
    background-color: #31BB0F;
  }
  .error{
    background-color: #FA0F0A;
  }
  .contactForm{
    box-shadow: 0px 0px 3px rgba(255,255,255,0.2);
    padding: 30px 40px 60px 40px;
    position: relative;
    z-index: 2;
    background-color: rgba(32, 76, 148, .7);
    .contactOptions{
      margin-left: 0;
      i{
        color: rgba(23, 153, 232, 1);
      }
      li{
        padding-bottom: 10px;
        list-style-type: none;
      }
      a{
        color: white;
      }
    }
    h3{
      padding-bottom: 0;
    }
    input[type=text], textarea{
      color: white;
      background-color: transparent;
      border-color: #3580FA;
    }
    input[type=submit]{
      font-weight: bold;
    }
    input:focus, textarea:focus{
      box-shadow: none;
    }
  }
}

//Footer
footer{
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
  vertical-align: middle;
  height: 80px;
  background-color: #17386E;
  .highlight{
    color: #3580FA;
  }
}
