//Navigation Bar
.ham-icon{
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 1000;

  display: inline-flex;
  align-items: center;
  transition: all .4s;
  background-color: transparent;
  width: 50px;
  height: 40px;
  transition: all .4s;
  border-radius: 2px 0 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.hamx{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  hr{
    margin: 0px 0 5px 0;
    border-radius: 5px;
    border: 1px solid #E16E19;
    background-color: #e16e19;
    transition: all .4s;
    transform-origin: right center;
    transform: rotate(0deg) ;
    background-image: none;
  }
  &.close{
    .one{
      transform: rotate(-39deg) ;
    }
    .two{
      opacity: 0;
    }
    .three{
      transform: rotate(39deg);
    }
  }
}

.menu-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  z-index: 3;
  font-size: 20px;
  ul{
    position: absolute;
    top:10%;
    left: 10px;
    padding-left: 20px;
    li{
      display: block;
      a{
        margin-bottom: 15px;
        padding: 0;
        transition: all .4s;
        &:hover{
          padding-left: 5px;
          color: #e79500;
        }
      }
      p{
        margin-bottom:0;
      }
    }
  }
}

@media (min-width: 768px){
  .menu-bg{
    font-size: 24px;
    ul{
      top: 80px;
    }
  }
}
