//Navigation Bar
.test-nav{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  z-index: 999;
  font-size: 20px;
  ul{
    position: absolute;
    top:10%;
    left: 20px;
    padding-left: 20px;
    li{
      display: block;
      a{
        margin-bottom: 15px;
        padding: 0;
        transition: all .4s;
        &:hover{
          padding-left: 5px;
          color: #e79500;
        }
      }
      p{
        margin-bottom:0;
      }
    }
  }
}
.active{
  position: relative;
}
.ham-icon{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;

  display: inline-flex;
  align-items: center;
  transition: all .4s;
  .icon-wrapper{
    background-color: transparent;
    width: 50px;
    height: 40px;
    transition: all .4s;
    border-radius: 2px 0 0 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    &:hover{
      cursor: pointer;
      i{
        color: #e79500;
      }
    }
    i{
      color: #E16E19;
      font-size: 24px;
    }
  }
}
@media (min-width: 768px){
  .test-nav{
    font-size: 16px;
  }
}
